<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Cocktail Generator</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Get a Random Cocktail!</h1>
      <form action="/random-cocktail" method="POST">
        <button type="submit">Get Cocktail</button>
      </form>
    </div>
  </body>
</html>
